{% macro storeLogo(props = {}) %}
    {% set props = {
        store: props.store | default("App Store"),
        class: props.class | default(""),
        attrs: props.attrs | default({})
    } %}
    {% set logoSrc = '../../img/footer/app-logo-app-store.svg' if props.store == 'App Store' else '../../img/footer/app-logo-google-play.svg' %}
    <div
        class="{{ props.class | twMerge('block h-10 w-[var(--spacing-store-badge-width)] shrink-0 overflow-hidden') }}"
        {{ props.attrs | renderAttrs | safe }}
    >
        <img
            src="{{ logoSrc }}"
            alt="{{ props.store }}"
            class="block size-full object-contain"
            loading="lazy"
        />
    </div>
{% endmacro %}
